{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="container my-4">
    <section class="upcoming-events py-5">
            <h2 class="text-center mb-4">Upcoming Events</h2>
            <div class="row g-4">
                {% for event in upcoming_events %}
                <div class="col-md-4">
                    <div class="card shadow">
                        <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.title }}</h5>
                            <p class="card-text">{{ event.date }} | {{ event.location }}</p>
                            <a href="{% url 'event_detail' event.id %}" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p class="text-center">No upcoming events at the moment.</p>
                {% endfor %}
            </div>
        </section>
</main>
{% endblock %}
